.ProductTitleGreen {
    color: #00A61B;
}
.ProductTitleOrange {
    color: #FF7001;
}
.ProductCostBlue {
    background-color: #0A6FB7;
}
.ProductCostGreen {
    background-color: #00A61B;
}
.ProductCostOrange {
    background-color: #FF7001;
}
.ProductTitleBlue {
    color: #0A6FB7;
}