.Title{
    color: #000000D8;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 19px;
}
.Text{
    color: #000000D8;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 33px;
}
.InputTitle{
    color: #000000D8;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 8px;
}
.InputTitle span{
    color: #FF4D4F;
}
.InputText{
    color: #8c8c8c;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.CoastButton{
    margin: 0;
    width: 195px;
    height: 75px;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #0A6FB7;
    background: #0A6FB7;
    color: #ffffff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}